RewriteEngine on
AddDefaultCharset UTF-8
AddType application/wasm wasm
DirectoryIndex ezines.php
#DirectoryIndex zzz.php
Options -Indexes
php_value display_errors 1
php_flag zlib.output_compression on
php_flag always_populate_raw_post_data On
ErrorDocument 403 /error/403.html
ErrorDocument 404 /error/404.html
ErrorDocument 500 /error/500.html
php_value upload_max_filesize 16M
<Files init.inc>
order allow,deny
deny from all
</Files>
#RewriteRule ^[zxnet]+/?([a-z\.0-9]+)/?([0-9])+\$ zxnet.php?e=$1&id=$2
RewriteRule ^rss/news.rss?$ rss.php
RewriteRule ^zxnet/([a-z_\.0-9]+)/?$ zxnet.php?e=$1
RewriteRule ^zxnet/([a-z_\.0-9]+)/([a-z0-9-]+)/?$ zxnet.php?e=$1&id=$2
RewriteRule ^zxnet/?$ zxnet.php
RewriteRule ^menu/([0-9]+)/?$ menu.php?r=$1
RewriteRule ^menu/([0-9]+)/([0-9]+)?$ menu.php?r=$1&id=$2
RewriteRule ^news/p([0-9]+)/?$ news.php?p=$1
RewriteRule ^news/?$ news.php
RewriteRule ^news/([0-9]+)-.*?$ news.php?id=$1
RewriteRule ^ru/periodicals/([^/]+)/([^/]+)/([^/]+)/?$ periodicals.php?per=$1&issue_slug=$2&article_slug=$3 [L,QSA]
RewriteRule ^en/periodicals/([^/]+)/([^/]+)/([^/]+)/?$ periodicals.php?lng=eng&per=$1&issue_slug=$2&article_slug=$3 [L,QSA]
RewriteRule ^eng/periodicals/([^/]+)/([^/]+)/([^/]+)/?$ periodicals.php?lng=eng&per=$1&issue_slug=$2&article_slug=$3 [L,QSA]
RewriteRule ^periodicals/([^/]+)/([^/]+)/([^/]+)/?$ periodicals.php?per=$1&issue_slug=$2&article_slug=$3 [L,QSA]
RewriteRule ^ru/periodicals/([^/]+)/([^/]+)/?$ periodicals.php?per=$1&issue_slug=$2 [L,QSA]
RewriteRule ^en/periodicals/([^/]+)/([^/]+)/?$ periodicals.php?lng=eng&per=$1&issue_slug=$2 [L,QSA]
RewriteRule ^eng/periodicals/([^/]+)/([^/]+)/?$ periodicals.php?lng=eng&per=$1&issue_slug=$2 [L,QSA]
RewriteRule ^periodicals/([^/]+)/([^/]+)/?$ periodicals.php?per=$1&issue_slug=$2 [L,QSA]
RewriteRule ^ru/periodicals/([^/]+)/?$ periodicals.php?per=$1 [L,QSA]
RewriteRule ^en/periodicals/([^/]+)/?$ periodicals.php?lng=eng&per=$1 [L,QSA]
RewriteRule ^eng/periodicals/([^/]+)/?$ periodicals.php?lng=eng&per=$1 [L,QSA]
RewriteRule ^periodicals/([^/]+)/?$ periodicals.php?per=$1 [L,QSA]
RewriteRule ^ru/periodicals/?$ periodicals.php [L,QSA]
RewriteRule ^en/periodicals/?$ periodicals.php?lng=eng [L,QSA]
RewriteRule ^eng/periodicals/?$ periodicals.php?lng=eng [L,QSA]
RewriteRule ^periodicals/?$ periodicals.php [L,QSA]

RewriteRule ^ru/ezines/?$ ezines.php [L,QSA]
RewriteRule ^en/ezines/?$ ezines.php?lng=eng [L,QSA]
RewriteRule ^eng/ezines/?$ ezines.php?lng=eng [L,QSA]
RewriteRule ^ru/ezines/(papers|magazines|reports)/?$ ezines.php?filter=$1 [L,QSA]
RewriteRule ^en/ezines/(papers|magazines|reports)/?$ ezines.php?lng=eng&filter=$1 [L,QSA]
RewriteRule ^eng/ezines/(papers|magazines|reports)/?$ ezines.php?lng=eng&filter=$1 [L,QSA]

RewriteRule ^ru/ezines-new/(papers|magazines|reports)/?$ /ru/ezines/$1 [R=301,L]
RewriteRule ^en/ezines-new/(papers|magazines|reports)/?$ /en/ezines/$1 [R=301,L]
RewriteRule ^eng/ezines-new/(papers|magazines|reports)/?$ /en/ezines/$1 [R=301,L]
RewriteRule ^ru/ezines-new/([^/]+)/([^/]+)/(.+)/?$ /ru/ezines/$1/$2/$3 [R=301,L]
RewriteRule ^en/ezines-new/([^/]+)/([^/]+)/(.+)/?$ /en/ezines/$1/$2/$3 [R=301,L]
RewriteRule ^eng/ezines-new/([^/]+)/([^/]+)/(.+)/?$ /en/ezines/$1/$2/$3 [R=301,L]

RewriteRule ^ru/ezines-new/([^/]+)/([^/]+)/?$ /ru/ezines/$1/$2 [R=301,L]
RewriteRule ^en/ezines-new/([^/]+)/([^/]+)/?$ /en/ezines/$1/$2 [R=301,L]
RewriteRule ^eng/ezines-new/([^/]+)/([^/]+)/?$ /en/ezines/$1/$2 [R=301,L]

RewriteRule ^ru/ezines-new/([^/]+)/?$ /ru/ezines/$1 [R=301,L]
RewriteRule ^en/ezines-new/([^/]+)/?$ /en/ezines/$1 [R=301,L]
RewriteRule ^eng/ezines-new/([^/]+)/?$ /en/ezines/$1 [R=301,L]

RewriteRule ^ru/ezines-new/?$ /ru/ezines [R=301,L]
RewriteRule ^en/ezines-new/?$ /en/ezines [R=301,L]
RewriteRule ^eng/ezines-new/?$ /en/ezines [R=301,L]

RewriteRule ^ru/ezines-old/(papers|magazines|reports)/?$ /ru/ezines/$1 [R=301,L]
RewriteRule ^en/ezines-old/(papers|magazines|reports)/?$ /en/ezines/$1 [R=301,L]
RewriteRule ^eng/ezines-old/(papers|magazines|reports)/?$ /en/ezines/$1 [R=301,L]
RewriteRule ^ru/ezines-old/([^/]+)/([^/]+)/(.+)/?$ /ru/ezines/$1/$2/$3 [R=301,L]
RewriteRule ^en/ezines-old/([^/]+)/([^/]+)/(.+)/?$ /en/ezines/$1/$2/$3 [R=301,L]
RewriteRule ^eng/ezines-old/([^/]+)/([^/]+)/(.+)/?$ /en/ezines/$1/$2/$3 [R=301,L]
RewriteRule ^ru/ezines-old/([^/]+)/([^/]+)/?$ /ru/ezines/$1/$2 [R=301,L]
RewriteRule ^en/ezines-old/([^/]+)/([^/]+)/?$ /en/ezines/$1/$2 [R=301,L]
RewriteRule ^eng/ezines-old/([^/]+)/([^/]+)/?$ /en/ezines/$1/$2 [R=301,L]
RewriteRule ^ru/ezines-old/([^/]+)/?$ /ru/ezines/$1 [R=301,L]
RewriteRule ^en/ezines-old/([^/]+)/?$ /en/ezines/$1 [R=301,L]
RewriteRule ^eng/ezines-old/([^/]+)/?$ /en/ezines/$1 [R=301,L]
RewriteRule ^ru/ezines-old/?$ /ru/ezines [R=301,L]
RewriteRule ^en/ezines-old/?$ /en/ezines [R=301,L]
RewriteRule ^eng/ezines-old/?$ /en/ezines [R=301,L]

RewriteRule ^ru/gallery-new/?$ /ru/gallery [R=301,L]
RewriteRule ^ru/gallery-old/?$ /ru/gallery [R=301,L]
RewriteRule ^ru/gallery/?$ gallery.php [L,QSA]
RewriteRule ^en/gallery-new/?$ /en/gallery [R=301,L]
RewriteRule ^en/gallery-old/?$ /en/gallery [R=301,L]
RewriteRule ^en/gallery/?$ gallery.php?lng=eng [L,QSA]
RewriteRule ^eng/gallery-new/?$ /en/gallery [R=301,L]
RewriteRule ^eng/gallery-old/?$ /en/gallery [R=301,L]
RewriteRule ^eng/gallery/?$ gallery.php?lng=eng [L,QSA]

RewriteRule ^ru/guestbook-new/?$ /ru/guestbook [R=301,L]
RewriteRule ^ru/guestbook-old/?$ /ru/guestbook [R=301,L]
RewriteRule ^ru/guestbook/?$ guestbook.php [L,QSA]
RewriteRule ^en/guestbook-new/?$ /en/guestbook [R=301,L]
RewriteRule ^en/guestbook-old/?$ /en/guestbook [R=301,L]
RewriteRule ^en/guestbook/?$ guestbook.php?lng=eng [L,QSA]
RewriteRule ^eng/guestbook-new/?$ /en/guestbook [R=301,L]
RewriteRule ^eng/guestbook-old/?$ /en/guestbook [R=301,L]
RewriteRule ^eng/guestbook/?$ guestbook.php?lng=eng [L,QSA]

RewriteRule ^ru/updates-new/?$ /ru/updates [R=301,L]
RewriteRule ^ru/updates-old/?$ /ru/updates [R=301,L]
RewriteRule ^ru/updates/?$ updates.php [L,QSA]
RewriteRule ^en/updates-new/?$ /en/updates [R=301,L]
RewriteRule ^en/updates-old/?$ /en/updates [R=301,L]
RewriteRule ^en/updates/?$ updates.php?lng=eng [L,QSA]
RewriteRule ^eng/updates-new/?$ /en/updates [R=301,L]
RewriteRule ^eng/updates-old/?$ /en/updates [R=301,L]
RewriteRule ^eng/updates/?$ updates.php?lng=eng [L,QSA]

RewriteRule ^ru/search-new/?$ /ru/search [R=301,L]
RewriteRule ^ru/search-old/?$ /ru/search [R=301,L]
RewriteRule ^ru/search/?$ search.php [L,QSA]
RewriteRule ^en/search-new/?$ /en/search [R=301,L]
RewriteRule ^en/search-old/?$ /en/search [R=301,L]
RewriteRule ^en/search/?$ search.php?lng=eng [L,QSA]
RewriteRule ^eng/search-new/?$ /en/search [R=301,L]
RewriteRule ^eng/search-old/?$ /en/search [R=301,L]
RewriteRule ^eng/search/?$ search.php?lng=eng [L,QSA]

RewriteRule ^ru/map/([a-z0-9-]+)/?$ map_new.php?filter=$1 [L,QSA]
RewriteRule ^en/map/([a-z0-9-]+)/?$ map_new.php?lng=eng&filter=$1 [L,QSA]
RewriteRule ^eng/map/([a-z0-9-]+)/?$ map_new.php?lng=eng&filter=$1 [L,QSA]
RewriteRule ^ru/map/?$ map_new.php [L,QSA]
RewriteRule ^en/map/?$ map_new.php?lng=eng [L,QSA]
RewriteRule ^eng/map/?$ map_new.php?lng=eng [L,QSA]

RewriteRule ^ru/categories/([0-9]+)/?$ categories.php?id=$1 [L,QSA]
RewriteRule ^en/categories/([0-9]+)/?$ categories.php?lng=eng&id=$1 [L,QSA]
RewriteRule ^eng/categories/([0-9]+)/?$ categories.php?lng=eng&id=$1 [L,QSA]
RewriteRule ^ru/categories/?$ categories.php [L,QSA]
RewriteRule ^en/categories/?$ categories.php?lng=eng [L,QSA]
RewriteRule ^eng/categories/?$ categories.php?lng=eng [L,QSA]

RewriteRule ^ru/books-new/chapter/([0-9]+)/?$ /ru/books/chapter/$1 [R=301,L]
RewriteRule ^ru/books-old/chapter/([0-9]+)/?$ /ru/books/chapter/$1 [R=301,L]
RewriteRule ^ru/books/chapter/([0-9]+)/?$ book_articles.php?id=$1 [L,QSA]
RewriteRule ^en/books-new/chapter/([0-9]+)/?$ /en/books/chapter/$1 [R=301,L]
RewriteRule ^en/books-old/chapter/([0-9]+)/?$ /en/books/chapter/$1 [R=301,L]
RewriteRule ^en/books/chapter/([0-9]+)/?$ book_articles.php?lng=eng&id=$1 [L,QSA]
RewriteRule ^eng/books-new/chapter/([0-9]+)/?$ /en/books/chapter/$1 [R=301,L]
RewriteRule ^eng/books-old/chapter/([0-9]+)/?$ /en/books/chapter/$1 [R=301,L]
RewriteRule ^eng/books/chapter/([0-9]+)/?$ book_articles.php?lng=eng&id=$1 [L,QSA]
RewriteRule ^ru/books-new/([0-9]+)/?$ /ru/books/$1 [R=301,L]
RewriteRule ^ru/books-old/([0-9]+)/?$ /ru/books/$1 [R=301,L]
RewriteRule ^ru/books/([0-9]+)/?$ book.php?id=$1 [L,QSA]
RewriteRule ^en/books-new/([0-9]+)/?$ /en/books/$1 [R=301,L]
RewriteRule ^en/books-old/([0-9]+)/?$ /en/books/$1 [R=301,L]
RewriteRule ^en/books/([0-9]+)/?$ book.php?lng=eng&id=$1 [L,QSA]
RewriteRule ^eng/books-new/([0-9]+)/?$ /en/books/$1 [R=301,L]
RewriteRule ^eng/books-old/([0-9]+)/?$ /en/books/$1 [R=301,L]
RewriteRule ^eng/books/([0-9]+)/?$ book.php?lng=eng&id=$1 [L,QSA]
RewriteRule ^ru/books-new/?$ /ru/books [R=301,L]
RewriteRule ^ru/books-old/?$ /ru/books [R=301,L]
RewriteRule ^ru/books/?$ books.php [L,QSA]
RewriteRule ^en/books-new/?$ /en/books [R=301,L]
RewriteRule ^en/books-old/?$ /en/books [R=301,L]
RewriteRule ^en/books/?$ books.php?lng=eng [L,QSA]
RewriteRule ^eng/books-new/?$ /en/books [R=301,L]
RewriteRule ^eng/books-old/?$ /en/books [R=301,L]
RewriteRule ^eng/books/?$ books.php?lng=eng [L,QSA]

RewriteRule ^ru/zxnet-new/([a-z_\.0-9]+)/([a-z0-9-]+)/?$ /ru/zxnet/$1/$2 [R=301,L]
RewriteRule ^ru/zxnet-old/([a-z_\.0-9]+)/([a-z0-9-]+)/?$ /ru/zxnet/$1/$2 [R=301,L]
RewriteRule ^ru/zxnet/([a-z_\.0-9]+)/([a-z0-9-]+)/?$ zxnet.php?e=$1&id=$2 [L,QSA]
RewriteRule ^en/zxnet-new/([a-z_\.0-9]+)/([a-z0-9-]+)/?$ /en/zxnet/$1/$2 [R=301,L]
RewriteRule ^en/zxnet-old/([a-z_\.0-9]+)/([a-z0-9-]+)/?$ /en/zxnet/$1/$2 [R=301,L]
RewriteRule ^en/zxnet/([a-z_\.0-9]+)/([a-z0-9-]+)/?$ zxnet.php?lng=eng&e=$1&id=$2 [L,QSA]
RewriteRule ^eng/zxnet-new/([a-z_\.0-9]+)/([a-z0-9-]+)/?$ /en/zxnet/$1/$2 [R=301,L]
RewriteRule ^eng/zxnet-old/([a-z_\.0-9]+)/([a-z0-9-]+)/?$ /en/zxnet/$1/$2 [R=301,L]
RewriteRule ^eng/zxnet/([a-z_\.0-9]+)/([a-z0-9-]+)/?$ zxnet.php?lng=eng&e=$1&id=$2 [L,QSA]
RewriteRule ^ru/zxnet-new/([a-z_\.0-9]+)/?$ /ru/zxnet/$1 [R=301,L]
RewriteRule ^ru/zxnet-old/([a-z_\.0-9]+)/?$ /ru/zxnet/$1 [R=301,L]
RewriteRule ^ru/zxnet/([a-z_\.0-9]+)/?$ zxnet.php?e=$1 [L,QSA]
RewriteRule ^en/zxnet-new/([a-z_\.0-9]+)/?$ /en/zxnet/$1 [R=301,L]
RewriteRule ^en/zxnet-old/([a-z_\.0-9]+)/?$ /en/zxnet/$1 [R=301,L]
RewriteRule ^en/zxnet/([a-z_\.0-9]+)/?$ zxnet.php?lng=eng&e=$1 [L,QSA]
RewriteRule ^eng/zxnet-new/([a-z_\.0-9]+)/?$ /en/zxnet/$1 [R=301,L]
RewriteRule ^eng/zxnet-old/([a-z_\.0-9]+)/?$ /en/zxnet/$1 [R=301,L]
RewriteRule ^eng/zxnet/([a-z_\.0-9]+)/?$ zxnet.php?lng=eng&e=$1 [L,QSA]
RewriteRule ^ru/zxnet-new/?$ /ru/zxnet [R=301,L]
RewriteRule ^ru/zxnet-old/?$ /ru/zxnet [R=301,L]
RewriteRule ^ru/zxnet/?$ zxnet.php [L,QSA]
RewriteRule ^en/zxnet-new/?$ /en/zxnet [R=301,L]
RewriteRule ^en/zxnet-old/?$ /en/zxnet [R=301,L]
RewriteRule ^en/zxnet/?$ zxnet.php?lng=eng [L,QSA]
RewriteRule ^eng/zxnet-new/?$ /en/zxnet [R=301,L]
RewriteRule ^eng/zxnet-old/?$ /en/zxnet [R=301,L]
RewriteRule ^eng/zxnet/?$ zxnet.php?lng=eng [L,QSA]

RewriteRule ^ru/snailmail/([^/]+)/?$ snailmail.php?letter_slug=$1 [L,QSA]
RewriteRule ^en/snailmail/([^/]+)/?$ snailmail.php?lng=eng&letter_slug=$1 [L,QSA]
RewriteRule ^eng/snailmail/([^/]+)/?$ snailmail.php?lng=eng&letter_slug=$1 [L,QSA]
RewriteRule ^ru/snailmail/?$ snailmail.php [L,QSA]
RewriteRule ^en/snailmail/?$ snailmail.php?lng=eng [L,QSA]
RewriteRule ^eng/snailmail/?$ snailmail.php?lng=eng [L,QSA]

RewriteRule ^ru/snailmail-new/([^/]+)/?$ /ru/snailmail/$1 [R=301,L]
RewriteRule ^ru/snailmail-old/([^/]+)/?$ /ru/snailmail/$1 [R=301,L]
RewriteRule ^en/snailmail-new/([^/]+)/?$ /en/snailmail/$1 [R=301,L]
RewriteRule ^en/snailmail-old/([^/]+)/?$ /en/snailmail/$1 [R=301,L]
RewriteRule ^eng/snailmail-new/([^/]+)/?$ /en/snailmail/$1 [R=301,L]
RewriteRule ^eng/snailmail-old/([^/]+)/?$ /en/snailmail/$1 [R=301,L]
RewriteRule ^ru/snailmail-new/?$ /ru/snailmail [R=301,L]
RewriteRule ^ru/snailmail-old/?$ /ru/snailmail [R=301,L]
RewriteRule ^en/snailmail-new/?$ /en/snailmail [R=301,L]
RewriteRule ^en/snailmail-old/?$ /en/snailmail [R=301,L]
RewriteRule ^eng/snailmail-new/?$ /en/snailmail [R=301,L]
RewriteRule ^eng/snailmail-old/?$ /en/snailmail [R=301,L]

RewriteRule ^ru/authors/([^/]+)/?$ authors.php?author_slug=$1 [L,QSA]
RewriteRule ^en/authors/([^/]+)/?$ authors.php?lng=eng&author_slug=$1 [L,QSA]
RewriteRule ^eng/authors/([^/]+)/?$ authors.php?lng=eng&author_slug=$1 [L,QSA]
RewriteRule ^ru/authors/?$ authors.php [L,QSA]
RewriteRule ^en/authors/?$ authors.php?lng=eng [L,QSA]
RewriteRule ^eng/authors/?$ authors.php?lng=eng [L,QSA]

RewriteRule ^ru/calendar/?$ calendar.php [L,QSA]
RewriteRule ^en/calendar/?$ calendar.php?lng=eng [L,QSA]
RewriteRule ^eng/calendar/?$ calendar.php?lng=eng [L,QSA]

RewriteRule ^ru/(?!periodicals|ezines|snailmail|authors|categories|gallery|zxnet|books|guestbook|updates|search|map|calendar)([^/]+)/([^/]+)/([^/]+)/?$ /ru/ezines/$1/$2/$3 [R=301,L]
RewriteRule ^en/(?!periodicals|ezines|snailmail|authors|categories|gallery|zxnet|books|guestbook|updates|search|map|calendar)([^/]+)/([^/]+)/([^/]+)/?$ /en/ezines/$1/$2/$3 [R=301,L]
RewriteRule ^eng/(?!periodicals|ezines|snailmail|authors|categories|gallery|zxnet|books|guestbook|updates|search|map|calendar)([^/]+)/([^/]+)/([^/]+)/?$ /en/ezines/$1/$2/$3 [R=301,L]
RewriteRule ^ru/(?!periodicals|ezines|snailmail|authors|categories|gallery|zxnet|books|guestbook|updates|search|map|calendar)([^/]+)/([^/]+)/?$ /ru/ezines/$1/$2 [R=301,L]
RewriteRule ^en/(?!periodicals|ezines|snailmail|authors|categories|gallery|zxnet|books|guestbook|updates|search|map|calendar)([^/]+)/([^/]+)/?$ /en/ezines/$1/$2 [R=301,L]
RewriteRule ^eng/(?!periodicals|ezines|snailmail|authors|categories|gallery|zxnet|books|guestbook|updates|search|map|calendar)([^/]+)/([^/]+)/?$ /en/ezines/$1/$2 [R=301,L]
RewriteRule ^ru/(?!periodicals|ezines|snailmail|authors|categories|gallery|zxnet|books|guestbook|updates|search|map|calendar)([^/]+)/?$ /ru/ezines/$1 [R=301,L]
RewriteRule ^en/(?!periodicals|ezines|snailmail|authors|categories|gallery|zxnet|books|guestbook|updates|search|map|calendar)([^/]+)/?$ /en/ezines/$1 [R=301,L]
RewriteRule ^eng/(?!periodicals|ezines|snailmail|authors|categories|gallery|zxnet|books|guestbook|updates|search|map|calendar)([^/]+)/?$ /en/ezines/$1 [R=301,L]

RewriteRule ^ru/ezines/([^/]+)/([^/]+)/([^/]+)/?$ article.php?press_slug=$1&issue_slug=$2&article_slug=$3 [L,QSA]
RewriteRule ^en/ezines/([^/]+)/([^/]+)/([^/]+)/?$ article.php?lng=eng&press_slug=$1&issue_slug=$2&article_slug=$3 [L,QSA]
RewriteRule ^eng/ezines/([^/]+)/([^/]+)/([^/]+)/?$ article.php?lng=eng&press_slug=$1&issue_slug=$2&article_slug=$3 [L,QSA]
RewriteRule ^ru/ezines/([^/]+)/([^/]+)/?$ issue.php?press_slug=$1&issue_slug=$2 [L,QSA]
RewriteRule ^en/ezines/([^/]+)/([^/]+)/?$ issue.php?lng=eng&press_slug=$1&issue_slug=$2 [L,QSA]
RewriteRule ^eng/ezines/([^/]+)/([^/]+)/?$ issue.php?lng=eng&press_slug=$1&issue_slug=$2 [L,QSA]
RewriteRule ^ru/ezines/([^/]+)/?$ issue.php?press_slug=$1 [L,QSA]
RewriteRule ^en/ezines/([^/]+)/?$ issue.php?lng=eng&press_slug=$1 [L,QSA]
RewriteRule ^eng/ezines/([^/]+)/?$ issue.php?lng=eng&press_slug=$1 [L,QSA]

